<body class="payment_page">
	<div class="container">
		<div class="row">
			<div class="col-md thankyou_note">
				<p class="product_title">Thank you for your purchase></p>

			</div>
		</div>		
	</div>
</body>		