body {
	font-family: Helvetica, sans-serif;
}

.projectName a{
	color: #35A26D;
	text-decoration: none;
}

ul a {
	display: inline-block;
	letter-spacing: 0.25em;
	background-color: #35A26D;
	border-radius: 5px;
	padding: 20px;	
	margin: 10px;
}

ul a:hover {
	text-decoration: none;
	text-transform: uppercase;
}

.carousel-caption {
	color: #35A26D;
	font-size: 20px;
	letter-spacing: 0.25em;
	text-shadow: 2px 2px black;
	font-weight: 900;
}

#carousel-example-generic {
	margin-top: 100px;
}

.item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-control {
	background-image: none !important;
}

.glyphicon {
	color: #35A26D;
}

h1 {
	margin-top: 150px;
	font-family: Garamond, serif;
	color: #35A26D;
	text-align: center;
	letter-spacing: 0.25em;
}

h2 {
	text-align: center;
}

.img-responsive {
	padding: 20px;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#about {
	margin-top: 100px;
}

footer {
	text-align: center;
	height: 50px;
	background-color: #35A26D; 
}

@media screen and (max-width: 480px) {
	h1,
	#contact,
	#about	 {
		margin-top: 250px;
	}
	#carousel-example-generic {
		margin-top: 300px;
	}
	.carousel-control {
		background: none !important;
	}
}