<p id="notice"><%= notice %></p>

<h1>Products</h1>
<br>

<%= link_to 'New Product', new_product_path %>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
     <%= render partial: "product", locals: {product: product} %>
      <% end %>    
  </div> <!-- end row -->
</div> <!-- end container -->

